    #main-footer {
    text-align: center;
    background: #444;
    color: #fff;
    padding: 20px;
    position: relative;
    bottom: 0px;
  }
 
  .footer-container i {
    font-size: 30px;
    margin: 10px 20px;
    color: #E8EEF2;
  }
  .bg-github-footer:hover {
    color: #657C8A;
    transition-duration: 1s;
  }
  .footer-container li {
    margin: 10px auto;
  }
